<ons-page ng-controller="condominio">    
    <ons-list>
        <ons-list-header>Avvisi</ons-list-header>
        <ons-list-item ng-repeat="avviso in ilCondominio.avviso_condominio_set" tappable>
            {* avviso.name *}
        </ons-list-item>
        <ons-list-header>Assemblee</ons-list-header>
        <ons-list-item ng-repeat="assemblea in ilCondominio.assemblea_condominio_set" tappable>
            {* assemblea.secondo_luogo *} il {* assemblea.seconda_data | asdatetime *}
        </ons-list-item>
    </ons-list>
</ons-page>