<ons-page ng-controller="documentale as ctrl">
    <ons-toolbar>
      <div class="left" >
        <ons-toolbar-button ng-click="goToFolder(currentFolder.parent)" ng-if="currentFolder._parent">
            <ons-icon icon="ion-ios-arrow-back"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        <b ng-show="ilCondominio">Documenti</b>
        </div>
        <div class="right">
            <ons-progress-circular indeterminate ng-show="waiting"></ons-progress-circular>
            <ons-toolbar-button ng-hide="waiting" ng-click="userDetails.show($event)">
                <ons-icon icon="ion-ios-person"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <ons-navigator swipeable var="documentNavigator" page="templates/folder_list.html"></ons-navigator>
</ons-page>