<ons-page id="menuCondominio">
    <ons-list>
        <ons-list-header>Condominio</ons-list-header>
        <ons-list-item tappable ng-click="condominioNavigator.pushPage('templates/avvisi.html')">
            Avvisi
        </ons-list-item>
        <ons-list-item tappable ng-click="condominioNavigator.pushPage('templates/assemblee.html')">
            Assemblee
        </ons-list-item>
        <ons-list-item tappable ng-click="condominioNavigator.pushPage('templates/guasti.html')">
            Guasti
        </ons-list-item>
        <ons-list-item tappable ng-click="condominioNavigator.pushPage('templates/amministratore.html')">
            Informazioni amministratore
        </ons-list-item>
    </ons-list>
</ons-page>