<!DOCTYPE HTML>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Content-Security-Policy" content="default-src * data: gap: https://ssl.gstatic.com; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/angular/angular-sanitize.min.js"></script>
  <script src="lib/angular/angular-ui-router.min.js"></script>
  <script src="lib/onsenui/js/onsenui.min.js"></script>
  <script src="lib/onsenui/js/angular-onsenui.min.js"></script>
  <script src="lib/rwt/lazy.min.js"></script>
  <script src="lib/rwt/sockjs.min.js"></script>
  <script src="lib/rwt/w2p.mobile.js"></script>
  <script src="lib/app/mobile.js"></script>  

  <link rel="stylesheet" href="components/loader.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css">
  <link rel="stylesheet" href="css/style.css">

</head>
<body>
  <ons-modal var="documentViewer" direction="up" onDeviceBackButton="documentViewer.hide($event)" animation="fade">
    <ons-page ng-controller="docDetail as ctrl">
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button>
            <ons-icon icon="fa-folder"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">
          {* doc.title *}
        </div>
        <div class="right">
          <ons-toolbar-button ng-click="documentViewer.hide($event)">
            <ons-icon icon="fa-close"></ons-icon>
          </ons-toolbar-button>
        </div>
      </ons-toolbar>
      <ons-card>
        <div class="fullImage" style="background-image: url('{* doc.imgUrl *}');"></div>
        <h3>{* doc.name *} <div class="badge" ng-repeat="metaclass in doc.metaclasss">{* metaclass.toString() *}</div></h3>
        <h5>{* doc.title *}</h5>
        <p>{* doc.description *}</p>
        
      </ons-card>
    </ons-page>
  </ons-modal>
  <ons-progress-bar indeterminate></ons-progress-bar>
  <ons-navigator swipeable var="myNav" page="templates/main.html"></ons-navigator>
</body>
</html>
 