<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Content-Security-Policy" content="default-src * data: gap: https://ssl.gstatic.com; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/angular/angular-sanitize.min.js"></script>
  <script src="lib/angular/angular-ui-router.min.js"></script>
  <script src="lib/onsenui/js/onsenui.min.js"></script>
  <script src="lib/onsenui/js/angular-onsenui.min.js"></script>
  <script src="lib/rwt/lazy.min.js"></script>
  <script src="lib/rwt/sockjs.min.js"></script>
  <script src="lib/rwt/w2p.mobile.js"></script>
  <script src="lib/app/mobile.js"></script>  

  <link rel="stylesheet" href="components/loader.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css">
  <link rel="stylesheet" href="css/style.css">

</head>
<body>
  <ons-page ng-controller="AppController as app">
    <ons-toolbar>
      <div class="center">
        Carhtesio
        <b ng-show="ilCondominio"> - {* ilCondominio.name *}</b>
      </div>
    </ons-toolbar>

    <ons-tabbar position="auto" ng-if="!showLogin">
        <ons-tab page="templates/condominio.html" label="Condominio" icon="ion-ios-home" active></ons-tab>
        <ons-tab page="templates/documenti.html" label="Documenti" icon="ion-ios-folder"></ons-tab>
    </ons-tabbar>
    
    <ons-card ng-if="showLogin" class="center" ng-controller="loginController as ctrl" >
      <h3>Non sei connesso</h3>
      <h5>Devi prima effettuare il login</h5>
      <h3 style="color: red" ng-show="errors">{* errors *}</h3>
      <ons-list>
        <ons-list-header>Username</ons-list-header>
        <ons-list-item>
          <ons-input ng-model="loginObj.username" placeholder="mariorossi">
        </ons-list-item>
        <ons-list-header>Password</ons-list-header>
        <ons-list-item>
          <ons-input ng-model="loginObj.password" type="password" placeholder="la mia password segreta">
        </ons-list-item>
        <ons-list-header>Tenant</ons-list-header>
        <ons-list-item>
          <ons-input ng-model="loginObj.tenant" placeholder="carhtesio">
        </ons-list-item>
      </ons-list>
      <ons-list-item>
        <div class="center">
          <ons-button tappable ng-click="ctrl.login()">
            LogIn
          </ons-button>
        </div>
      </ons-list-item>
    </ons-card>
  </ons-page>
</body>
</html>
